@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --main-color:#ff5e5f;
}

.btn-primary{
    @apply  py-2 px-8 text-white text-base;
    background-color:var(--main-color);
}
.showcase{
    background: url("../img/showcase.jpg") center top/cover;
    height: 80vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}
#collapsed-menu{
    top:6rem;
    left:0;
    background-color: white;
}

/* card-shadow */
.card-shadow{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}


/* animate borders  */
.service-card{
position: relative;
}

.service-card:after{
    content: "";
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20%;
    display: none;
}

.service-card:hover::after{
display: block;
width: 100%;
left: 0;
animation: enlarge 0.2s ;
}


@keyframes enlarge {
    0% {
        left: 40%;
        width: 20%;
    }
    50%{
        left: 25%;
        width: 50%;
    }
    100% {
        left: 0;
        width: 100%;
    }
  }

  .youtube-icon{
      top: 35%;
      left: 25%;
  }

  /* lightbox */
  .lightbox{
     background-color: rgba(0, 0, 0, 0.75);
     height: 100%;
     width: 100%;
  }
  .lightbox-next{
      position: fixed;
      right: 0;
      top: 45%;
      margin-right: 2rem;
      color: whitesmoke;
  }
  .lightbox-previous{
    position: fixed;
    left: 0;
    top: 45%;
    margin-left: 2rem;
    color: whitesmoke;
}

/* .close-icon::after{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top:-2rem;
    right: -2rem;
    margin-bottom: 1rem;
    width:1rem;
    color: whitesmoke;
} */
.close-icon{
left: 90%;
top: -20%;
}

.active{
    @apply text-red-500
}

.experience-card hr{
    border-top: 0.05px solid lightgray;
   border-bottom: none;
}

#statistics{
    background: url("../img/slider/1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.overlay2{
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100%;
}

@media (min-width:768px )and (max-width:1023px){
    #statistics{
        height: 60vh;
    }
}

@media (min-width:1024px) and (max-width:1279px){
    #statistics{
        height: 40vh;
    }
}

@media (min-width:1280px){
    #statistics{
        height: 40vh;
    }
}